.containerProductsPage{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerProduct h2{
    font-size: min(5vw, 1.4rem);
}

.containerProduct input{
    border: none;
    color: #1c1c1c;
}

.containerProduct input:focus{
    outline: none;
}

.containerProduct{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    gap: 25px;
}

.showRoomProducts{
    width: 90%;
    height: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 25px;
    margin-top: 75px;
    margin-bottom: 50px;
    padding: 15px;
}

.prototypeImage{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 25px;
    height: 100%;
}

.prototypeImage button{
    width: 60px;
    background-color: transparent;
    border: none;
}

.prototypeImage img, .imageProduct img{
    border: 2px solid transparent;
    padding: 5px;
}

.prototypeImage .activeButton, .imageProduct .activeButton{
    border: 2px solid var(--principal-color);
    padding: 5px;
    transition: .5s;
}


.imageProduct{
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.imageProduct .principalImage{
    width: auto;
    max-width: 600px;
    max-height: 100%;
}

.content{
    width: 50%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #fff;
    padding: 15px;
    gap: 40px;
}

.price span{
    color: var(--agree-color);
}

.titleAvaliation{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.titleAvaliation .rowDescribe{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.titleAvaliation .rowDescribe svg{
    font-size: 1.2rem;
    color: var(--principal-color);
}

.buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 1rem;
}

.content .row{
    width: 100%;
    gap: 15px;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.circle-btn{
    display: block;
    width: auto;
    padding: 10px;
    background-color: var(--dark-color);
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: .3s;
}

.circle-btn:hover{
    background-color: transparent;
    border-color:  var(--dark-color);
    color: var(--dark-color);
}

.content .agree-btn{
    width: auto;
    font-size: 1rem;
    padding: 13px;
    font-weight: 600;
    border: 1px solid var(--principal-color);
    cursor: pointer;
    transition: .3s;
}

.content .agree-btn:hover{
    background-color: transparent;
    border-color: var(--principal-color);
    color: var(--principal-color);
}

.stock{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.stock input{
    width: 2rem;
    text-align: center;
    border: none;
    border-bottom: 1px solid var(--dark-color);
    padding: 8px 0px;
    padding-bottom: 4px;
}

.describe{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
}

.mobileButtonsImg, .mobile{
    display: none;
}

@media(max-width: 1200px){
    .showRoomProducts{
        width: 80%;
        gap: 15px;
        justify-content: center;
        flex-wrap: wrap;
        height: auto;
    }
    .imageProduct .principalImage{
        max-width: 600px;
        width: 100%;
    }

    .content{
        display: none;
    }

    .prototypeImage{
        display: none;
    }

    .mobile{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .mobile button{
        width: 100%;
        margin-top: 5px;
    }

    .mobileButtonsImg button{
        width: 100%;
        max-width: 40px;
        margin-bottom: 50px;
        background-color: transparent;
        border: none;
    }
    
    .mobileButtonsImg{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 26px;
    }
    
    .mobileButtonsImg button img{
        width: 100%;
    }
}
