.loginContainer{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.loginContainer h2{
    font-size: 2rem;
}

.loginContainer form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.loginContainer form .small{
    font-size: .8rem;
}

.loginContainer form .btnLogin{
    width: 100%;
    height: 40px;
    background-color: #222;
    color: #fff;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginContainer form .loadBtn{
    background-color: #fff;
}

.loginContainer .auth{
    border-top: 1px solid #c4c4c4;
    padding-top: 25px;
}

