.containerPerfil{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.containerPerfil .content{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    background: transparent;
}

.containerPerfil .content aside{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
}

.containerPerfil .content aside button{
    width: auto;
    background-color: #fff;
    border-radius: 50px;
    color: #b1b1b1;
    padding: 8px;
    border: none;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    cursor: pointer;
    transition: .5s;
    border: 3px solid #eaeaea;
}

.containerPerfil .content aside button:hover{
    color: #1c1c1c;
}

.containerPerfil .content aside .activeButtonAside{
    color: #1c1c1c;
    border-color: 3px solid #eaeaea;
    outline: 1px solid #aaa;
}