.mobileMenu{
    position: fixed;
    width: 80%;
    height: 100vh;
    top: 0px;
    left: 0;
    background-color: #1c1c1c;
    z-index: 100;
}

.mobileMenu ul{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
    padding: 15px 0px;
    margin-top: 60px;
}

.mobileMenu ul li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobileMenu ul a{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    background-color: #222;
    padding: 15px;
    transition: .5s;
}

.mobileMenu ul a:hover{
    background-color: #333;
}


.title h3, .title svg{
    font-size: 1.5rem;
    color: #fff;
    margin: 0 5px;
}

aside .iconMenu{
    width: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin: 0 auto;
}

aside .iconMenu li{
    width: auto;
}

.closeButton{
    position: absolute;
    color: #fff;
    right: 25px;
    top: 16px;
    background-color: #222;
    padding: 5px 6px;
}

.closeButton:hover{
    background-color: #333;
}