@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root{
  --dark-color: #333;
  --white-color: #FFFFFF;
  --gray-color: #C4C4C4;
  --principal-color: #DC9757;
  --agree-color: #00a560;
  --principal-font: 'Inter', sans-serif;
  --error-color: #dd0000;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 90vw;
  min-height: 100vh;
}

*{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  box-sizing: border-box;
  background-color: #eaeaea;
  position: relative;
}

ul, li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #fff;
}

img{
  max-width: 100%;
}

h2{
  font-family: var(--principal-font);
  color: #444444;
}

h3{
  font-family: var(--principal-font);
  color: var(--dark-color);
}

span{
  font-family: var(--principal-font);
  font-size: 1rem;
}

.largeInput{
  width: 95%;
  height: 100px;
  max-width: 100%;
  max-height: 100px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  text-align: start;
  word-break: break-all;
  font-family: var(--principal-font);
  padding: 5px;
}

.largeInput:focus{
  outline: 1px solid var(--principal-color);
  border: 1px solid transparent;
}

p{
  font-family: var(--principal-font);
  font-size: 1rem;
  text-align: justify;
  line-height: 1.4em;
}
.stroke{
  font-weight: bold;
  color: var(--principal-color);
}

.agree-btn{
  background-color: var(--principal-color);
  padding: 5px 15px;
  color: var(--white-color);
  font-family: var(--principal-font);
  font-weight: 400;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  transition: .5s;
}

.agree-btn:hover{
  background-color: #cf843d;
}

.iconBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.row{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.active{
  background-color: var(--principal-color);
  width: 100%;
}

.activeIconBtn{
  color: #DC9757;
}

.iconBtn.activeIconBtn span, .iconBtn.activeIconBtn svg{
  color: #DC9757;
}

.error-text{
  color: var(--error-color);
}

.error{
  border-color: var(--error-color);
}

.error:focus{
  outline-color: var(--error-color);
}

.buy-Btn{
  width: 80%;
  background-color: var(--dark-color);
  color: var(--white-color);;
  font-size: 1rem;
  font-family: var(--principal-font);
  font-weight: 600;
  border: 2px solid var(--dark-color);
  border-radius: 5px;
  padding: 5px 15px;
  transition: .2s;
}

.buy-Btn:hover{
  background-color: var(--principal-color);
  color: var(--white-color);
  border-color: transparent;
}

@media (max-width: 800px) {
  .buy-Btn{
    font-size: 12px;
  }
}


.darkButton{
  background-color: #1c1c1c;
  color: #fff;
  border-color: transparent;
}

.darkButton:hover{
  background-color: #2f2f2f;
  border-radius: 10px;
}

.outtlineButton{
  background-color: transparent;
  color: #1c1c1c;
  border-color: #1c1c1c;
}

.outtlineButton:hover{
  border-color: #555;
  color: #555;
  border-radius: 10px;
}