header{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-color);
    color: var(--white-color);

    position: relative;
}

header .search-bar{
    display: flex;
    width: 80%;
    justify-content: flex-end;
    gap: 5px;
}

header .search-bar .menuButton{
    display: none;
    color: #fff;
    font-size: 2rem;
}
header .search-bar input{
    border-radius: 5px;
}

header .row{
    width: 90%;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    gap: 15px;
    padding: 10px 0px;
}

header .row img{
    width: 150px;
}

header .row:nth-child(2){
    border-top: 1px solid #ffffff4b;
}

header .row ul{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header .row ul li{
    width: 100px;
}

header .row ul li a{
    display: block;
    text-align: center;
    width: 100%;
    padding: 10px 5px;
    font-family: var(--principal-font);
    font-weight: 300;
    cursor: pointer;
}

header .row .icons{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-right: 1px solod #fff;
}

header .row input{
    width: 80%;
    padding: 8px 15px;
    font-family: var(--principal-font);
    background-color: #fff;
}

header .row input:focus{
    outline: none;
}

header .row .icons button{
    background-color: transparent;
    color: var(--white-color);
    border: none;
    cursor: pointer;
}

header .row .icons .activeIconBtn{
    color: var(--principal-color);
}

@media(max-width: 800px){
    .logo{
        display: none;
    }

    header .row{
        width: 100%;
        padding: 20px 0px;
    }

    header .search-bar{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        margin: 0 auto;
    }

    .search-bar input{
        width: 80%;
    }

    .search-bar button{
        display: none;
    }
    header .links{
        display: none;
    }
    header .search-bar .menuButton{
        display: block;
    }
}